<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Zenon\Categoryattribute\Controller\Adminhtml\Category\Thumbnailimage\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>
    <type name="Zenon\Categoryattribute\Controller\Adminhtml\Category\Graphimage\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>
    <type name="Zenon\Categoryattribute\Controller\Adminhtml\Category\Galleryimage\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category</argument>
            <argument name="basePath" xsi:type="string">catalog/category</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <!--<preference for="Magento\Catalog\Controller\Adminhtml\Category\Image\Upload" type="Zenon\Categoryattribute\Controller\Adminhtml\Category\Image\Upload"/>-->
    <!--<preference for="Magento\Catalog\Controller\Adminhtml\Category\Save" type="Zenon\Categoryattribute\Controller\Adminhtml\Category\Save"/>-->
    <preference for="Magento\Catalog\Model\Category" type="Zenon\Categoryattribute\Model\Category"/>
    <preference for="Magento\Catalog\Model\Category\Attribute\Backend\Image" type="Zenon\Categoryattribute\Model\Category\Attribute\Backend\Image"/>
    <!--<preference for="Magento\Catalog\Model\Category\DataProvider" type="Zenon\Categoryattribute\Model\Category\DataProvider"/>-->
    <preference for="Smartwave\Megamenu\Model\Category\DataProvider" type="Zenon\Categoryattribute\Model\Category\DataProvider"/>
</config>